<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{> header myTitle='Hello World'}}
    {{#each a}}
        <h1>{{this.name}}</h1>
    {{/each}}
    {{> footer footerValue='Footer value'}}
</body>
</html>