<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Data</title>
</head>
<body>
    <img src="/uploads/<%=myData.filename%>" alt="">
    <h1><%=myData.Name%></h1>
    <h1><%=myData.Age%></h1>
    <h1><%=myData.Mobile%></h1>
</body>
</html>